*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
 
body{
    margin: 0px;
    background-color:rgb(249, 239, 175);
}
 

main{
    max-width: 5000px;
    width: 80%;
    margin: auto;
    background-color: rgb(52, 73, 94);
    padding: 0px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
    "as n"
    "as h"
    "as ar"
    "f f";
 
}
 
aside{
    grid-area: as;
    border-right: 5px solid silver;
    padding:20px 0px 0px 0px;
    text-align: center;
    height: 100svh;
    position: sticky;
    top: 0;
}
 
aside img{
    width: 100%;
}
 
aside img:hover{
    background-color: rgb(74, 101, 128);
    box-sizing: border-box;
    border-radius: 25%;
}
 
nav{
    max-height: 137px;
    grid-area: n;
    border-bottom: 5px solid silver;
    text-align: center;
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
 
nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 14px;
    background-color: rgb(52, 73, 94);
    border: 5px solid silver;
}
 
nav a:hover {
    background-color: rgb(74, 101, 128);
}
 
header{
    text-align: center;
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 50px 50px 20px 50px;
    gap: 20px;
}
 
header img{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15%;
    width: 100%;
}
 
article{
    text-align: center;
    grid-area: ar;
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
 
article img{
    width: 100%;
    box-sizing: border-box;
    border-radius: 3%;
    padding-top: 4%;
}
 
footer{
    background-color: silver;
    grid-area: f;
    text-align: center;
    margin: 0px;
    padding: 7px;
    color: rgb(78, 78, 78);
}
 
#profilok-nav{
    grid-area: h;
}
 
.profilok{
    text-align: center;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    border: 5px solid silver;
}
 
.profilok img{
    width: 40%;
}

@media screen and (max-width: 700px) {

    nav{
        grid-template-columns: 1fr;
    }
    
    header{
        grid-template-columns: 1fr;
    }
    article{
        grid-template-columns: 1fr;
    }
    .profilok{
        grid-template-columns: 1fr;
    }
}